@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

header {
  background-color: #49423a;
  color: white;
  width: 100%;
  position: fixed;
  padding-top: 20px;
  padding-bottom: 20px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #fbb535;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-left: 120px;
  margin-right: 120px;
}

footer {
    background-color: #49423a;
    height: 100px;
  p {
      font-family: 'Noto Sans', sans-serif;
      display: flex;
      justify-content: center;
      padding-top: 20px;
  }
}
